<h1>Editing Prescription</h1>

<%= render 'form', prescription: @prescription %>

<%= link_to 'Show', @prescription, class:"btn btn-secondary" %> 
<%= link_to 'Back', prescriptions_path, class:"btn btn-dark" %>
